* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: radial-gradient(circle at center, #020617, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;

  overscroll-behavior: none;
  overflow: hidden;
}



.carousel {
  position: relative;
  width: 800px;
  height: 500px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;

  touch-action: pan-y;
}



.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  box-shadow: inset -20px 0 40px rgba(0,0,0,0.1);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}



.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;

  transition: all 0.3s ease;
}

.prev { left: -10px; }
.next { right: -10px; }


.prev:hover, .next:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-50%) scale(1.08);
}


.indicator {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}


@media (max-width: 768px) {

  body {
    height: 100dvh;
    padding: 10px;
  }

  .carousel {
    width: 100%;
    height: 90vh;
    border-radius: 20px;
  }

  .slide img {
    object-fit: contain;
  }

  .prev, .next {
    padding: 6px 12px;
    font-size: 14px;
  }


  .prev { left: -5px; }
  .next { right: -5px; }

}
